/******************************************** 
  リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}


/******************************************** 
  ヘッダー 
*********************************************/



/******************************************** 
  一覧画面
*********************************************/
div.contents.row div.content_post {
  margin: 20px 0;
  padding: 30px;
  position: relative;
  height: 400px;
  color: #124c6b;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}


/********************************************
  投稿画面
*********************************************/
